.chart .wrap {
    padding: 0 18px 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart .wraper {
    gap: 16px;
    overflow-x: auto;
}
.chart .wrap p {
    font-size: 12px;
    line-height: 16px;
    color: black;
}
.chart .size-chart {
    gap: 4px;
    margin-bottom: 16px;
}
.chart .dengan {
    position: relative;
    width: 32px;
    height: 218px;
    background-color: #269544;
    border-radius: 8px;
    overflow: visible; 
}
.chart .dengan1 {
    position: relative;
    width: 32px;
    height: 218px;
    background-color: #269544;
    border-radius: 8px;
    overflow: visible; 
}
.dengan1:hover::after {
    content: url('../../../public/assets/tooltip.svg'); 
    position: absolute;
    top: 20%;
    transform: translateY(-50%) translateX(-20%);
    opacity: 1;
  }
.chart .tanpa {
    width: 32px;
    height: 48px;
    background-color: #952626;
    border-radius: 8px;
}
.chart .keterangan {
    margin-top: 16px;
    font-size: 12px;
    line-height: 120%;
    gap: 50px;
    color: black;
}
.chart .keterangan img {
    margin-right: 8px;
}