.tidaksesuai .content {
    padding-top: 33px;
}
.tidaksesuai .form {
    margin-bottom: 16px;
}
.tidaksesuai .form p {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    color: black;
}
.tidaksesuai .form-control {
    border-radius: 10px;
    height: 36px;
    z-index: -10;
}
.tidaksesuai .card-wrap {
    padding: 12px;
    background-color: white;
    border-radius: 10px;
}
.tidaksesuai .card {
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tidaksesuai .card p {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #606060;
    margin: 0px;
    margin-top: 3px !important;
}